<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
        ul{
          border: 1px solid yellow;
          width: 48%;
          position: relative;
        }
        ul li:last-child a{
          display: block;
          width:30px;
          height: 30px;
          position: absolute;
          right: 0;
          top: 0;
        }
        ul li{
          list-style: none;
        }
        table{
          border: 1px solid rgb(65, 23, 98);
          text-align: center;
          width: 100%;
        }
        table td{
          width: 50px;
          height: 30px;
        }
        table tr:first-child{
          font-size: 17px;
          font-weight: bolder;
        }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= system %></p>

 <% if(tip){%>
    <h3> <%= tip %></h3>
   <% } %>

  <div class="box">
     <a href="/pay">新建缴费</a>
     <a href="/select">查询</a>
  </div>
    <% if (info){%>
       <table border="1px" cellspacing="0" >
         <tr><td>Name</td><td>ID</td><td>Tel</td><td>State</td><td>操作</td></tr>
           <% info.forEach(function(info){  %>
          <tr>
            <td><%=info.name %></td>
            <td><%=info.id %></td>
            <td><%=info.tel %></td>
            <td><%=info.state %></td>
            <td><a href="/pay/<%=info.id%>">办理缴费</a></td>
          </tr>
           <%  })%>
       </table>

    <%} else if(selectresult){ %>
        <table border="1px" cellspacing="0" >
          <tr><td>Name</td><td>ID</td><td>Tuition</td><td>dormitory</td><td>Else</td><td>PIC</td><td>操作</td></tr>
          <% selectresult.forEach(function(follow){  %>
           <tr>
             <td><%=follow.name %></td>
             <td><%=follow.id %></td>
             <td><%=follow.tuition %></td>
             <td><%=follow.dormitory %></td>
             <td><%=follow.elsefee %></td>
              <td><%=follow.pic %></td>
             <td><a href="/updatepay/<%=follow.id%>">办理缴费</a></td>
           </tr>
            <%  })%>
        </table>
         <button><a href="/backpay">返回主界面</a></button>


      <%} else if(completes){ %>
        <% completes.forEach(function(follow){  %>
           <ul>
             <li><strong>Name:</strong><%=follow.name %> </li>
             <li><strong>Intention:</strong><%=follow.intention %></li>
             <li><strong>Major:</strong><%=follow.major %></li>
             <li><strong>Tel:</strong><%=follow.tel %></li>
             <li><strong>Guide:</strong><%=follow.guide %></li>
             <li><strong>LastTime:</strong><%=follow.lasttime %></li>
             <li><strong>State:</strong><%=follow.state %></li>
             <li></li>
           </ul>
        <%  })%>
  <%} else if(!completes==null){ %>
    <h2>没有已完成信息！</h2>
      <% }  %>
  </body>
</html>
